<div id=":jn" class="ii gt ">
    <div id=":jo" class="a3s aXjCH m161761b2fe55229c">
        <div dir="ltr">
            <div class="gmail_quote">
                <div dir="ltr">
                    <div class="gmail_quote">
                        <div dir="ltr">
                            <div id="m_8028843343230205519gmail-m_2500463539827449643m_7354327154171915774:43r"
                                 style="font-size:12.8px;margin-bottom:0px;margin-left:0px;padding-bottom:5px">
                                <div id="m_8028843343230205519gmail-m_2500463539827449643m_7354327154171915774:4dj"
                                     style="overflow:hidden">
                                    <div dir="ltr">
                                        <div style="font-size:12.8px;margin-bottom:0px;margin-left:0px;padding-bottom:5px">
                                            <div style="overflow:hidden">
                                                <div dir="ltr">
                                                    <div style="color:rgb(80,0,80);font-size:12.8px;min-height:100%;margin:0px;padding:0px;width:1575.03px;background-color:rgb(250,250,250)">
                                                        <center>
                                                            <table align="center" border="0" cellpadding="0"
                                                                   cellspacing="0" height="100%" width="100%"
                                                                   style="border-collapse:collapse;height:1526.67px;margin:0px;padding:0px;width:1574.44px">
                                                                <tbody>
                                                                <tr>
                                                                    <td align="center" valign="top"
                                                                        style="height:1506.67px;padding:10px;width:1554.44px;border-top-width:0px">
                                                                        <table border="0" cellpadding="0"
                                                                               cellspacing="0" width="100%"
                                                                               style="border-collapse:collapse;border:0px;max-width:600px">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td valign="top"
                                                                                    style="border-top-width:0px;border-bottom-width:0px;padding-top:9px;padding-bottom:9px">
                                                                                    <br><br></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td valign="top"
                                                                                    style="border-top-width:0px;border-bottom-width:2px;border-bottom-style:solid;border-bottom-color:rgb(234,234,234);padding-top:0px;padding-bottom:9px;background-color:rgb(255,255,255)">
                                                                                    <table border="0" cellpadding="0"
                                                                                           cellspacing="0" width="100%"
                                                                                           style="border-collapse:collapse">
                                                                                        <tbody>
                                                                                        <tr>
                                                                                            <td valign="top">
                                                                                                <table align="left"
                                                                                                       border="0"
                                                                                                       cellpadding="0"
                                                                                                       cellspacing="0"
                                                                                                       width="600"
                                                                                                       style="border-collapse:collapse">
                                                                                                    <tbody>
                                                                                                    <tr>
                                                                                                        <td valign="top"
                                                                                                            style="padding:9px 18px;line-height:24px">
                                                                                                            <h1  style="color:rgb(34,34,34);font-family:arial,sans-serif;font-weight:normal;">
                                                                                                                <p><font
                                                                                                                        size="4"><span
                                                                                                                        style="font-weight:normal"><img
                                                                                                                        src="https://ibin.co/3qz2WlIC2X5P.png"
                                                                                                                        width="636"
                                                                                                                        height="235"
                                                                                                                        style="margin-right:0px"
                                                                                                                        class="CToWUd a6T"
                                                                                                                        tabindex="0"><div
                                                                                                                        class="a6S"
                                                                                                                        dir="ltr"
                                                                                                                        style="opacity: 0.01; left: 1017.5px; top: 291.594px;"><div
                                                                                                                        id=":12k"
                                                                                                                        class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q"
                                                                                                                        role="button"
                                                                                                                        tabindex="0"
                                                                                                                        aria-label="Download attachment unnamed.png"
                                                                                                                        data-tooltip-class="a1V"
                                                                                                                        data-tooltip="Download"><div
                                                                                                                        class="aSK J-J5-Ji aYr"></div></div><div
                                                                                                                        id=":12l"
                                                                                                                        class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q"
                                                                                                                        role="button"
                                                                                                                        tabindex="0"
                                                                                                                        aria-label="Save attachment to Drive unnamed.png"
                                                                                                                        data-tooltip-class="a1V"
                                                                                                                        data-tooltip="Save to Drive"><div
                                                                                                                        class="wtScjd J-J5-Ji aYr aQu"><div
                                                                                                                        class="T-aT4"
                                                                                                                        style="display: none;"><div></div><div
                                                                                                                        class="T-aT4-JX"></div></div></div></div></div><br>&#8203;&#8203;Following our every-year tradition, we would like to offer you sharing gifts with each other on&nbsp;</span><span
                                                                                                                        class="m_8028843343230205519gmail-aBn"><span
                                                                                                                        class="m_8028843343230205519gmail-aQJ"><span
                                                                                                                        class="aBn"
                                                                                                                        data-term="goog_1861061098"
                                                                                                                        tabindex="0"><span
                                                                                                                        class="aQJ" style="font-weight:bold;">Friday, February 16</span></span></span></span></font>
                                                                                                                </p>
                                                                                                                <p><font
                                                                                                                        size="4"
                                                                                                                        style="font-weight:normal">The
                                                                                                                    thing
                                                                                                                    is,
                                                                                                                    the
                                                                                                                    gifts
                                                                                                                    you
                                                                                                                    will
                                                                                                                    prepare
                                                                                                                    should
                                                                                                                    be
                                                                                                                    presented
                                                                                                                    secretly.&nbsp;</font>
                                                                                                                </p>
                                                                                                                <p><font
                                                                                                                        size="4" style="font-weight:bold;">Let's
                                                                                                                    support
                                                                                                                    our
                                                                                                                    tradition!</font><br>
                                                                                                                </p>
                                                                                                            </h1>
                                                                                                            <table border="0"
                                                                                                                   cellpadding="0"
                                                                                                                   cellspacing="0"
                                                                                                                   width="100%"
                                                                                                                   class="m_8028843343230205519gmail-m_7017487067039763403mcnDividerBlock"
                                                                                                                   style="color:rgb(34,34,34);font-family:arial,sans-serif;border-collapse:collapse;min-width:100%;table-layout:fixed">
                                                                                                                <tbody class="m_8028843343230205519gmail-m_7017487067039763403mcnDividerBlockOuter"></tbody>
                                                                                                            </table>
                                                                                                            <table border="0"
                                                                                                                   cellpadding="0"
                                                                                                                   cellspacing="0"
                                                                                                                   width="100%"
                                                                                                                   class="m_8028843343230205519gmail-m_7017487067039763403mcnButtonBlock"
                                                                                                                   style="color:rgb(34,34,34);font-family:arial,sans-serif;border-collapse:collapse;min-width:100%">
                                                                                                                <tbody class="m_8028843343230205519gmail-m_7017487067039763403mcnButtonBlockOuter">
                                                                                                                <tr>
                                                                                                                    <td valign="top"
                                                                                                                        align="center"
                                                                                                                        class="m_8028843343230205519gmail-m_7017487067039763403mcnButtonBlockInner"
                                                                                                                        style="padding:0px 18px 18px">
                                                                                                                        <table border="0"
                                                                                                                               cellpadding="0"
                                                                                                                               cellspacing="0"
                                                                                                                               width="100%"
                                                                                                                               class="m_8028843343230205519gmail-m_4384062436420378528mcnButtonBlock"
                                                                                                                               style="border-collapse:collapse;min-width:100%">
                                                                                                                            <tbody class="m_8028843343230205519gmail-m_4384062436420378528mcnButtonBlockOuter">
                                                                                                                            <tr>
                                                                                                                                <td valign="top"
                                                                                                                                    align="center"
                                                                                                                                    class="m_8028843343230205519gmail-m_4384062436420378528mcnButtonBlockInner"
                                                                                                                                    style="padding:0px 18px 18px">
                                                                                                                                    <table border="0"
                                                                                                                                           cellpadding="0"
                                                                                                                                           cellspacing="0"
                                                                                                                                           width="100%"
                                                                                                                                           class="m_8028843343230205519gmail-m_4384062436420378528mcnButtonContentContainer"
                                                                                                                                           style="margin-top: -10px;
                                                                                                                                           border-top-left-radius:3px;
                                                                                                                                           border-top-right-radius:3px;
                                                                                                                                           border-bottom-right-radius:3px;
                                                                                                                                           border-bottom-left-radius:3px;
                                                                                                                                           background-color:rgb(14,180,118);
                                                                                                                                           margin-top: -18px">
                                                                                                                                        <tbody>
                                                                                                                                        <tr>
                                                                                                                                            <br>
                                                                                                                                            <br>
                                                                                                                                            <td align="center"
                                                                                                                                                valign="middle"
                                                                                                                                                class="m_8028843343230205519gmail-m_4384062436420378528mcnButtonContent"
                                                                                                                                                style="font-family:Arial;font-size:16px;padding:15px;margin-top: 20px">
                                                                                                                                                <a id="link" class="m_8028843343230205519gmail-m_4384062436420378528mcnButton"
                                                                                                                                                   title="Do you want to know whom to present your gift?"
                                                                                                                                                   href=""
                                                                                                                                                   style="color:rgb(255,255,255);display:block;font-weight:bold;line-height:16px;text-decoration:none"
                                                                                                                                                   target="_blank"
                                                                                                                                                   data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://localhost:8006/receiver/d348f572-2992-4b11-bb00-022ddffe2c87&amp;source=gmail&amp;ust=1518202368092000&amp;usg=AFQjCNHnHFLW0g_UXKI4sPQ3hMBxAqNvOA">Do
                                                                                                                                                    you
                                                                                                                                                    want
                                                                                                                                                    to
                                                                                                                                                    know
                                                                                                                                                    whom
                                                                                                                                                    to
                                                                                                                                                    present
                                                                                                                                                    your
                                                                                                                                                    gift?</a>
                                                                                                                                            </td>
                                                                                                                                        </tr>
                                                                                                                                        </tbody>
                                                                                                                                    </table>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                            </tbody>
                                                                                                                        </table>
                                                                                                                        <table border="0"
                                                                                                                               cellpadding="0"
                                                                                                                               cellspacing="0"
                                                                                                                               width="100%"
                                                                                                                               class="m_8028843343230205519gmail-m_4384062436420378528mcnDividerBlock"
                                                                                                                               style="border-collapse:collapse;min-width:100%;table-layout:fixed">
                                                                                                                            <tbody class="m_8028843343230205519gmail-m_4384062436420378528mcnDividerBlockOuter">
                                                                                                                            <tr>
                                                                                                                                <td class="m_8028843343230205519gmail-m_4384062436420378528mcnDividerBlockInner"
                                                                                                                                    style="min-width:100%;padding:9px 18px 0px">
                                                                                                                                    <table class="m_8028843343230205519gmail-m_4384062436420378528mcnDividerContent"
                                                                                                                                           border="0"
                                                                                                                                           cellpadding="0"
                                                                                                                                           cellspacing="0"
                                                                                                                                           width="100%"
                                                                                                                                           style="border-collapse:collapse;min-width:100%">
                                                                                                                                        <tbody>
                                                                                                                                        <tr>
                                                                                                                                            <td></td>
                                                                                                                                        </tr>
                                                                                                                                        </tbody>
                                                                                                                                    </table>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                            </tbody>
                                                                                                                        </table>
                                                                                                                        <table border="0"
                                                                                                                               cellpadding="0"
                                                                                                                               cellspacing="0"
                                                                                                                               width="100%"
                                                                                                                               class="m_8028843343230205519gmail-m_4384062436420378528mcnButtonBlock"
                                                                                                                               style="border-collapse:collapse;min-width:100%">
                                                                                                                            <tbody class="m_8028843343230205519gmail-m_4384062436420378528mcnButtonBlockOuter">
                                                                                                                            <tr>
                                                                                                                                <td valign="top"
                                                                                                                                    align="center"
                                                                                                                                    class="m_8028843343230205519gmail-m_4384062436420378528mcnButtonBlockInner"
                                                                                                                                    style="padding:0px 18px 18px">
                                                                                                                                    <br>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                            </tbody>
                                                                                                                        </table>
                                                                                                                        <table border="0"
                                                                                                                               cellpadding="0"
                                                                                                                               cellspacing="0"
                                                                                                                               width="100%"
                                                                                                                               class="m_8028843343230205519gmail-m_4384062436420378528mcnDividerBlock"
                                                                                                                               style="border-collapse:collapse;min-width:100%;table-layout:fixed">
                                                                                                                            <tbody class="m_8028843343230205519gmail-m_4384062436420378528mcnDividerBlockOuter">
                                                                                                                            <tr>
                                                                                                                                <td class="m_8028843343230205519gmail-m_4384062436420378528mcnDividerBlockInner"
                                                                                                                                    style="min-width:100%;padding:18px 18px 0px">
                                                                                                                                    <table class="m_8028843343230205519gmail-m_4384062436420378528mcnDividerContent"
                                                                                                                                           border="0"
                                                                                                                                           cellpadding="0"
                                                                                                                                           cellspacing="0"
                                                                                                                                           width="100%"
                                                                                                                                           style="border-collapse:collapse;min-width:100%">
                                                                                                                                        <tbody>
                                                                                                                                        <tr>
                                                                                                                                            <td></td>
                                                                                                                                        </tr>
                                                                                                                                        </tbody>
                                                                                                                                    </table>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                            </tbody>
                                                                                                                        </table>
                                                                                                                        <table border="0"
                                                                                                                               cellpadding="0"
                                                                                                                               cellspacing="0"
                                                                                                                               width="100%"
                                                                                                                               class="m_8028843343230205519gmail-m_4384062436420378528mcnBoxedTextBlock"
                                                                                                                               style="border-collapse:collapse;min-width:100%">
                                                                                                                            <tbody class="m_8028843343230205519gmail-m_4384062436420378528mcnBoxedTextBlockOuter">
                                                                                                                            <tr>
                                                                                                                                <td valign="top"
                                                                                                                                    class="m_8028843343230205519gmail-m_4384062436420378528mcnBoxedTextBlockInner">
                                                                                                                                    <table align="left"
                                                                                                                                           border="0"
                                                                                                                                           cellpadding="0"
                                                                                                                                           cellspacing="0"
                                                                                                                                           width="100%"
                                                                                                                                           class="m_8028843343230205519gmail-m_4384062436420378528mcnBoxedTextContentContainer"
                                                                                                                                           style="border-collapse:collapse;min-width:100%">
                                                                                                                                        <tbody>
                                                                                                                                        <tr>
                                                                                                                                            <td style="padding:9px 18px">
                                                                                                                                                <table border="0"
                                                                                                                                                       cellspacing="0"
                                                                                                                                                       class="m_8028843343230205519gmail-m_4384062436420378528mcnTextContentContainer"
                                                                                                                                                       width="100%"
                                                                                                                                                       style="border-collapse:collapse;background-color:rgb(247,247,247);min-width:100%;margin-top: -18px">
                                                                                                                                                    <tbody>
                                                                                                                                                    <tr>
                                                                                                                                                        <td valign="top"
                                                                                                                                                            class="m_8028843343230205519gmail-m_4384062436420378528mcnTextContent"
                                                                                                                                                            style="font-family:Helvetica;word-break:break-word;color:rgb(128,128,128);font-size:16px;line-height:32px;text-align:center;padding:18px">
                                                                                                                                                            <p style="margin:0px;padding:0px;color:rgb(68,68,68);font-size:22px;line-height:33px">

                                                                                                                                                                If you have any questions please contact nnykyforuk@softjourn.com</p>
                                                                                                                                                        </td>
                                                                                                                                                    </tr>
                                                                                                                                                    </tbody>
                                                                                                                                                </table>
                                                                                                                                            </td>
                                                                                                                                        </tr>
                                                                                                                                        </tbody>
                                                                                                                                    </table>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                            </tbody>
                                                                                                                        </table>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                </tbody>
                                                                                                            </table>
                                                                                                            <table border="0"
                                                                                                                   cellpadding="0"
                                                                                                                   cellspacing="0"
                                                                                                                   width="100%"
                                                                                                                   class="m_8028843343230205519gmail-m_7017487067039763403mcnDividerBlock"
                                                                                                                   style="color:rgb(34,34,34);font-family:arial,sans-serif;border-collapse:collapse;min-width:100%;table-layout:fixed">
                                                                                                                <tbody class="m_8028843343230205519gmail-m_7017487067039763403mcnDividerBlockOuter">
                                                                                                                <tr>
                                                                                                                    <td class="m_8028843343230205519gmail-m_7017487067039763403mcnDividerBlockInner"
                                                                                                                        style="min-width:100%;padding:18px 18px 0px"></td>
                                                                                                                </tr>
                                                                                                                </tbody>
                                                                                                            </table>
                                                                                                            <p dir="ltr"
                                                                                                               style="color:rgb(34,34,34);font-family:arial,sans-serif;font-size:12.8px;line-height:1.38;
                                                                                                               margin:10px 0px;padding:0px;margin-top: 50px">
                                                                                                                <span
                                                                                                                    style="color:rgb(0,0,0);font-family:arial;font-size:14.6667px;line-height:1.38;white-space:pre-wrap;background-color:transparent">Good luck!</span>
                                                                                                            </p>
                                                                                                            <p dir="ltr"
                                                                                                               style="line-height:1.38;margin:10px 0px;padding:0px">
                                                                                                                <span style="color:rgb(14,180,118);font-family:arial,sans-serif;font-size:12.8px">#softjournkindnessday</span><br><font
                                                                                                                    color="#222222"><span
                                                                                                                    style="font-size:12.8px">&nbsp;</span></font>
                                                                                                            </p></td>
                                                                                                    </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td valign="top"
                                                                                    style="border-top-width:0px;border-bottom-width:0px;padding-top:9px;padding-bottom:9px">
                                                                                    <table border="0" cellpadding="0"
                                                                                           cellspacing="0" width="100%"
                                                                                           style="border-collapse:collapse">
                                                                                        <tbody>
                                                                                        <tr>
                                                                                            <td align="center"
                                                                                                valign="top"
                                                                                                style="padding:9px">
                                                                                                <table border="0"
                                                                                                       cellpadding="0"
                                                                                                       cellspacing="0"
                                                                                                       width="100%"
                                                                                                       style="border-collapse:collapse">
                                                                                                    <tbody>
                                                                                                    <tr>
                                                                                                        <td align="center"
                                                                                                            style="padding-left:9px;padding-right:9px"></td>
                                                                                                    </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </center>
                                                        <center><br></center>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="yj6qo"></div>
        <div class="adL">
        </div>
    </div>
</div>